
.leave-history {
    margin-top: 20px;
    font-family: 'Montserrat';
}

.leave-history h1 {
    text-align: center;
}

.leave-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.leave-table th,
.leave-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.leave-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
